.filtering {
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .filter-container h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .category-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .form-check {
    width: 50%; 
    margin-bottom: 10px;
    padding-right: 10px;
  }
  
  .form-check-input {
    margin-right: 10px;
  }
  
  @media (min-width: 576px) {
    .form-check {
      width: 33.33%; /* 3 columns on tablet */
    }
  }
  
  @media (min-width: 768px) {
    .form-check {
      width: 25%; /* 4 columns on desktop */
    }
  }
  
  @media (max-width: 576px) {
    .form-check {
      width: 100%; /* 1 column on mobile */
    }
  }
  
  