.bold{
    font-weight: bold;
    color: #040677;
}

.correct{
background-color: #dffff2 !important;
border-color: #00d397 !important;
}

.wrong{
background-color: #ffedf0 !important;
border-color: #ff4d6d !important;
}

li{
    cursor: pointer;
} 